* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
}

body {
  height: 100svh;
  width: 100svw;
}

/* ------------ Header ------------ */

header {
  width: 100svw;
  height: none;
  padding-bottom: 5px;
  background-color: rgb(27, 40, 64);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  font-size: 70px;
}

ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

/* ------------ Main ------------ */

main {
  min-height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
}

/* ------------ Hero section ------------ */

#hero-section {
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  background-color: rgb(194, 216, 238);
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

#hero-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: auto;
}

#hero-container h2 {
  font-size: 55px;
  text-align: left;
  color: rgb(17, 17, 41);
}

#hero-text {
  font-weight: 500;
  font-size: 18px;
  margin: 60px 0px;
}

#hero-button {
  background-color: rgb(17, 87, 144);
  border: 5px solid rgb(10, 15, 28);
  box-shadow: 0px 5px 2px 0px #141a23;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

#hero-button a {
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

#hero-button:hover {
  scale: 1.04;
}

#front-page-plush {
  width: 430px;
  margin: auto;
  padding-right: 20px;
}

#plushies-image {
  width: 100%;
  height: 100%;
}

#plushies-image:hover {
  scale: 1.03;
}

/* ------------ Plushy section ------------ */

#plush-section {
  background-color: rgb(48, 63, 91);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

h2 {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 60px;
}

article {
  text-align: center;
  width: 450px;
  height: 35%;
  float: left;
  background-color: rgb(215, 228, 239);
  border: 5px solid rgb(26, 26, 43);
  box-shadow: 0px 6px 2px 0px #10151c;
  border-radius: 30px;
}

article:hover {
  scale: 1.03;
}

article img {
  width: 60%;
  height: 60%;
  margin-top: 20px;
}

article p {
  margin: 15px 30px;
}

.prize {
  font-size: 50px;
  font-weight: 600;
}

/* ------------ Footer ------------ */

footer {
  width: 100svw;
  height: 100px;
  text-align: center;
  background-color: rgb(24, 35, 55);
}

footer a {
  font-size: 25px;
}
